html {
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ab;
}

h1 {
  font-size: 26px;

  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.3;
}

li {
  font-size: 15px;
}

.related-author {
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #1099ab33;
}

aside {
  background-color: #f7f7f7;
  border-top: 4px solid #1098ab;
  border-bottom: 4px solid #1098ab;
}

a:link {
  color: #1098ab;
  text-decoration: none;
}

a:hover {
  color: #c10770;
  font-weight: bold;
  text-decoration: underline;
}
